.col-md-7 {
    margin-top: 75px !important; /* Ajusta el valor según la altura de tu navbar */
}

.single-product-img{
    margin-top: 270px !important; /* Ajusta el valor según la altura de tu navbar */
}

.section-title{
    margin-top: 240px !important; /* Ajusta el valor según la altura de tu navbar */
}