.col-md-7 {
    margin-top: 150px;
    text-align: left;
}

/* Selecciona la img dentro del carousel */
#carouselProducto .carousel-item img {
  margin-top: 220px;
  margin-left: 90px;
  width: 60%;  
  
  
}

.green-btn {
    background-color: #4CAF50; /* Verde */
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    display: block;        /* Fuerza que ocupe toda la línea */
    margin-top: 10px;  
}

/* Flechas verdes y tamaño razonable */
#carouselProducto .carousel-control-prev i,
#carouselProducto .carousel-control-next i {
  margin-top: 200px;
  font-size: 2.5rem;
  color: #4CAF50;
}

/* Asegurá visibilidad por encima de la imagen */
#carouselProducto .carousel-control-prev,
#carouselProducto .carousel-control-next {
  opacity: 1;
  z-index: 10;
}

/* (Opcional) efecto hover */
#carouselProducto .carousel-control-prev:hover i,
#carouselProducto .carousel-control-next:hover i {
  opacity: 0.85;
}

/* Fijá el header siempre arriba en la página de producto */
body.detalle-producto #sticker {
  position: sticky;   /* o fixed si preferís */
  top: 0;
  z-index: 9999;
}

/* Si usás fixed, agregá padding-top para que no tape el contenido */
body.detalle-producto {
  padding-top: 90px; /* ajustá al alto real del header */
}
