.main-menu ul li a {
    font-size: 1.4em;
    font-weight: bold;
    color: #5d7c43;  /* color verde desde el principio */
    text-decoration: none;
    transition: color 0.2s;
}

.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.main-menu ul li a {
    font-size: 1.4em;
    font-weight: bold;
    color: #5d7c43;  /* color verde desde el principio */
    text-decoration: none;
    transition: color 0.2s;
}
.main-menu ul li a:hover {
    color: #5d7c43;
}